.header {
    margin-top: 50px;
    background-color: #ffb957;
}
.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    color: gold;
    
}

.top-header {
    position: absolute;
    top: 15%;
    font-size: 30px;
    
}

.bot-header {
    position: absolute;
    top: 20%;
    font-size: 40px;
    font-weight: bolder;
    color: #50c878;
    
}

.headerVideo {
    width: 100vw;
}